/* Main Layout */
header {
    width: 100%;
    float: left;
    color: midnightblue;
    font-family: Bookman Old Style, serif;
    background-color: black;
    text-align: center;
    border-bottom: 2px solid white;
}
nav {
    width: 20%;
    float: left;

    color: midnightblue;
}

main {
    width: 60%;
    float: left;
    font-size: large;

    color: dodgerblue;
}
main img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}
main p {
    margin-top: 30px;
    text-indent: 25px;
}
footer {
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: black;
    color: aqua;
}
/* Menus */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
  display: block;
    color: #000000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
/* Menu Hover */
li a:hover {
    background-color: #555555;
    color: white;
}
ul {
    border: 1px solid #555555;
}
li{
    text-align: center;
    border-bottom: 1px solid #555555;
}
li:last-child {
    border-bottom: none;
}






